
<!-- 	<ul class='nav-ul'>
		<li> <button class='btn btn-nav' [routerLink]="['/home']" (click)='getCurrentPage("homePage")'>Home</button></li>
    <li> 	<button class='btn btn-nav'[routerLink]="['/about']"(click)='getCurrentPage("aboutPage")'>About</button></li>  
    <li> 	<button class='btn btn-nav' [routerLink]="['/projects']"(click)='getCurrentPage("projectsPage")'>Projects</button></li>
    <li> 	<button class='btn btn-nav'[routerLink]="['/testmonials']"(click)='getCurrentPage("testimonyPage")'>Testimonials</button></li>
  </ul> -->
